// Цвет фона инпутов и селектов
$input-bg-color: #B7BACB33;

// Основной цвет контейнеров
$bg-color-primary: #FFFFFF;

// Цвет фона табов
$tabs-bg-color-primary: #FFFFFF;
$tabs-bg-color-secondary: #B7BACB33;

// Цвет кнопок (основной)
$button-bg-color-primary: #B7BACB33;
$button-bg-color-primary_hover: #b7bacb41;
$button-bg-color-primary_active: #b7bacb2a;

// Цвет кнопок (акцент)
$button-bg-color-accent: #BF3266;
$button-bg-color-accent_hover: #bf3266c9;
$button-bg-color-accent_active: #bf32668a;

// Цвет текста (основной)
$font-color-primary: #000000;
// Цвет текста (второстепенный)
$font-color-secondary: #333333;
// Цвет текста (акцент)
$font-color-accent: #BF3266;
// Цвет текста (альтернативный акцент)
$font-color-alt-accent: #FFFFFF;